@import "colors/current-theme.css";

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

window > box {
  background-color: alpha(@base, 0.9);
  margin: 6px 8px;
}

* {
  font-family: "JetBrains Mono";
  font-weight: 600;
  font-size: 12px;
  padding: 0;
  border-radius: 6px;
}

.modules-left,
.modules-center,
.modules-right {
}

#custom-launcher,
#workspaces,
#clock,
#bluetooth.connected,
#custom-spotify,
#network,
#network.linked,
#network.ethernet,
#network.wifi,
#custom-powermenu,
box#sys-tray {
  color: @peach;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0);
}

#custom-launcher {
  color: @mauve;
  padding-left: 14px;
  padding-right: 4px;
}

#workspaces {
  padding: 2px 10px;
}

#workspaces button {
  color: @text;
  padding: 0px 5px;
}

#workspaces button.active {
  color: @base;
  background-color: @mauve;
}

#workspaces button.urgent {
  color: @maroon;
}

#workspaces button:hover {
  color: @mauve;
  background-color: @base;
}

box#sys-tray {
  padding: 2px 10px 2px 10px;
}

#backlight {
  color: @text;
}

#pulseaudio {
  color: @text;
}

#battery {
  color: @text;
}

.pulseaudio-grp {
  color: @text;
}

#battery.text {
  padding-right: 8px;
}

#backlight.text {
}

#pulseaudio.text {
  padding-right: 8px;
}

#clock {
  padding: 2px 10px;
}

#custom-powermenu {
  padding: 2px 12px 2px 10px;
}

#bluetooth,
#bluetooth.off,
#bluetooth.on {
  color: @text;
  padding: 2px 4px 2px 10px;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0);
}

#network,
#network.disconnected,
#network.disabled {
  color: @text;
  padding: 2px 8px;
}

#custom-spotify {
  background-color: @mantle;
  padding: 2px 10px;
}

#custom-powermenu {
  color: @red;
  padding-right: 14px;
  font-size: 18px;
}

tooltip {
  padding: 25px;
  background-color: @base;
  color: @text;
  font-family: "JetBrains Mono";
}

tooltip label {
  padding: 15px;
  color: @text;
}

label:focus {
  background-color: @text;
}

#clock {
  color: @text;
}
